/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-background-radius: 20;
    -fx-background-insets: 0,1,2,3,0;
	-fx-padding: 10 20 10 20;
    -fx-background-color: rgb(249, 233, 61);
    -fx-text-fill: rgba(149, 48, 36);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.root{
	-fx-background-image: url("Gryffindor.jpg");
	-fx-background-repeat:no-repeat;
	-fx-background-color: transparent;
	-fx-background-position:center;
    -fx-background-size: 100% 100%; 
}
.label{
	-fx-text-fill:  black;
	
}
.button:hover{
	-fx-border-color: white;
	-fx-border-radius: 20;
    -fx-border-insets: 0,1,2,3,0;
	-fx-padding: 10 20 10 20;
}
.table{
   -fx-background-color:transparent;
}
.table-row-cell:odd{
    -fx-background-color: rgba(249, 233, 61, 0.8);
}
.table-row-cell:even{
    -fx-background-color: rgba(149, 48, 36, .8);
}
