/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
	-fx-padding: 10 20 10 20;
    -fx-background-color: rgba(66, 244, 238, .6 );
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.root{
	-fx-background-image: url("background.jpg");
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
    -fx-background-size: 100% 100%; 
}
.label{
	-fx-text-fill: black;
	
}
.label .text{
	-fx-stroke: white;
	-fx-stroke-width: .7px;
}

.button:hover{
	-fx-border-color: white;
	-fx-border-radius: 30;
    -fx-border-insets: 0,1,2,3,0;
	-fx-padding: 10 20 10 20;
}